{% extends 'base.html' %}

{% block head %}
<style>
    .text-info:hover {
        color: #0dcaf0;
    }

    .text-danger:hover {
        color: #dc3545;
    }
</style>
{% endblock %}

{% block content %}
    <!-- Header -->
    <header class="bg-light py-3 mb-4 border-bottom">
        <div class="container d-flex justify-content-between align-items-center">
            <a href="/" class="navbar-brand text-dark d-flex align-items-center">
                <img class="d-inline-block align-top" style="width: 30px; height: 30px;" src="{{ url_for('static', filename='assets/images/logo.png') }}" alt="Kiwi Blog Logo">
                <strong class="ms-2 fs-5">Kiwi Blog</strong>
            </a>
            <div class="d-flex align-items-center">
                <!-- Icons for edit and settings -->
                <a href="#" class="btn btn-outline-secondary me-2">
                    <i class="bi bi-pencil-square"></i> Edit profile <!-- Icon for editing profile -->
                </a>
                <a href="#" class="btn btn-outline-secondary me-2">
                    <i class="bi bi-gear"></i> Settings <!-- Icon for settings -->
                </a>
                <a href="{{ url_for('root.user.auth.logout') }}" class="btn btn-outline-danger">
                    <i class="bi bi-box-arrow-right"></i> Exit
                </a>
            </div>
        </div>
    </header>

    <!-- Profile Section -->
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <!-- Avatar -->
                <img src="{{ url_for('static', filename='assets/images/avatar.png') }}" class="rounded-circle img-fluid mb-3" alt="{{ g.user.username }}'s avatar">
            </div>
            <div class="col-md-9">
                <!-- Username, full name, and description -->
                <h2>{{ g.user.username }}</h2>
                <h5 class="text-muted">Name Surname</h5>
                <p class="mt-4">
                    Something very interest<br>
                    Useful tips every day<br>
                    I like cats!<br>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <a class="btn btn-outline-info w-auto" href="{{ url_for('root.posts.create') }}">New post</a>
            </div>
        </div>

        <!-- User's Posts Section -->
        <hr class="my-4">
        <div class="row">
            {% for post in posts %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <!-- Post Image -->
                    <div class="position-relative">
                        <a href="{{ url_for('root.posts.view_post', post_id=post.id) }}">
                            <img style="max-width: 100%; max-height: 25vh; object-fit: contain;" src="{{ url_for('static', filename=get_preview(post.preview)) }}" class="card-img-top" alt="{{ post.title }}">
                        </a>
                    <!-- Dropdown Menu -->
                        <div class="dropdown position-absolute top-0 end-0 m-2">
                            <button class="btn btn-secondary btn-sm rounded-circle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="d-block"> ⋮ </span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item text-info" href="{{ url_for('root.posts.edit', post_id=post.id) }}">Edit</a></li>
                                <li><a class="dropdown-item text-danger" href="{{ url_for('root.posts.delete', post_id=post.id) }}">Delete</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="card-body">
                        <!-- Post Title -->
                        <a href="{{ url_for('root.posts.view_post', post_id=post.id) }}" class="text-decoration-none">
                            <h5 class="card-title">{{ post.title }}</h5>
                        </a>

                        <!-- Post Tags -->
                        <div class="mb-2">
                            {% for post_tag in post.tags %}
                            <a href="#" class="text-muted text-decoration-none">{{ post_tag.tag.name }}*</a>
                            {% endfor %}
                        </div>

                        <!-- Post Description -->
                        <p class="card-text">
                            {% set max_words = 15 %}
                            {% set words = post.content.split('.')[0].split(' ') %}
                            {% set truncated_body = ' '.join(words[:max_words]) %}
                            {{ truncated_body }}
                            {% if truncated_body|length > max_words %}
                            ...
                            {% endif %}
                        </p>
                    </div>

                    <!-- Read More Button -->
                    <div class="card-footer d-flex justify-content-between align-items-center">
                        <div class="text-muted">
                            Reading time: {{ post.reading_time }} minutes
                        </div>
                        <a href="{{ url_for('root.posts.view_post', post_id=post.id) }}" class="btn btn-outline-primary">Continue reading</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
