{% extends 'base.html' %}

{% block content %}
    <!-- Header -->
    <header class="bg-light py-3 mb-4 border-bottom sticky-top">
        <div class="container d-flex justify-content-between align-items-center">
            <a href="/" class="navbar-brand text-dark d-flex align-items-center">
                <img class="d-inline-block align-top" style="width: 30px; height: 30px;" src="{{ url_for('static', filename='assets/images/logo.png') }}" alt="Kiwi Blog Logo">
                <strong class="ms-2 fs-5">Kiwi Blog</strong>
            </a>
            {% if g.user %}
            <a href="{{ url_for('main.you') }}" class="btn text-dark text-decoration-none align-items-center d-flex">
                <span class="pe-2">{{ g.user.username }}</span>
                <img class="d-inline-block align-top" style="width: 20px; height: 20px;" src="/static/assets/images/avatar.png" alt="{{ g.user.username }}'s avatar">
            </a>
            {% else %}
            <a href="{{ url_for('user.auth.login') }}" class="btn btn-primary">Sign in</a>
            {% endif %}
        </div>
    </header>

    <!-- Content Section -->
    <div class="container">
        <div class="row">
            {% for post in posts %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <!-- Author Info -->
                    <div class="card-header d-flex align-items-center">
                        <a href="#" class="d-flex align-items-center text-decoration-none text-dark">
                            <img src="/static/assets/images/avatar.png" alt="{{ post.author.username }}'s avatar" class="rounded-circle me-2" width="40" height="40">
                            <strong>{{ post.author.username }}</strong>
                        </a>
                    </div>

                    <!-- Post Image -->
                    <a href="{{ url_for('posts.view_post', post_id=post.id) }}">
                        <img style="max-width: 100%; max-height: 25vh; object-fit: contain;" src="{{ url_for('static', filename=get_preview(post.preview)) }}" class="card-img-top" alt="{{ post.title }}">
                    </a>

                    <div class="card-body">
                        <!-- Post Title -->
                        <a href="{{ url_for('posts.view_post', post_id=post.id) }}" class="text-decoration-none">
                            <h5 class="card-title">
                                {% set max_symbols = 41 %}
                                {{ post.title[:max_symbols] }}{% if post.title|length > max_symbols %}...{% endif %}
                            </h5>
                        </a>

                        <!-- Post Tags -->
                        <div class="mb-2">
                            {% for post_tag in post.tags %}
                            <a href="#" class="text-muted text-decoration-none">{{ post_tag.tag.name }}*</a>
                            {% endfor %}
                        </div>

                        <!-- Post Description -->
                        <p class="card-text">
                            {% set max_symbols = 150 %}
                            {{ post.content[:max_symbols] }}{% if post.content|length > max_symbols %}...{% endif %}
                        </p>
                    </div>

                    <!-- Read More Button -->
                    <div class="card-footer d-flex justify-content-between align-items-center">
                        <div class="text-muted">
                            Reading time: {{ post.reading_time }} min.
                        </div>
                        <a href="{{ url_for('posts.view_post', post_id=post.id) }}" class="btn btn-outline-primary">Read more</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

<!--    <footer class="footer mt-auto py-3 bg-light">-->
<!--        <div class="container">-->
<!--            <span class="text-muted">© 2024 Kiwi Blog</span>-->
<!--        </div>-->
<!--    </footer>-->
{% endblock %}